.search-wrapper{
    
    width: 300px;
    height:auto;
    color: white;
    font-size: larger;
    margin: 20px;
    background-color: #310856;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}

li{
    margin: 20px;
}