.search-wrapper{
    
    width: 300px;
    height:auto;
    color: white;
    font-size: larger;
    margin: 20px;
    background-color: #8c40ce;
    background-image: linear-gradient(rgb(119, 50, 210),purple);
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}

.search-wrapper li{
    margin: 20px;
    text-decoration: none;
}