.search-wrapper{
    
    width: 300px;
    height:auto;
    color: white;
    font-size: larger;
    font-family:'fantasy';
    font-weight: bolder;
    font-size: 20px;
    margin: 20px;
    background-color: #8c40ce;
    background-image: linear-gradient(rgb(119, 50, 210),purple);
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 5px   rgb(199, 199, 199);
}

.search-wrapper li{
    margin: 20px;
    list-style: none;
}